a.news-item {
     height: 350px;
     overflow-y: hidden;
     background: #ffffff;
     margin-bottom: 20px;
     cursor: pointer;
     border-bottom: 2px solid #e91802;
     text-decoration: none;
     display: block;
}
.img-responsive {
     height: 165px;
     object-fit: cover;
     width: 100%;
}
.news-info {
     padding: 0 10px;
}
.news-title {
     font-size: 16px;
     color: #212121;
     font-weight: 700;
     margin-bottom: 15px;
}
.news-description {
     font-size: 14px;
     color: #4a4a4a;
}
@media (max-width: 576px) {
     .col-12 {
          width: 100%;
     }
     .news-item {
          height: 350px;
     }
}