.navbar-default {
     background-color: #ffffff;
     margin-left: 200px;
}
.navbar-default i {
     font-size: 17px;
     margin-left: 20px;
     color: #e91802;
}
@media (max-width: 768px) {
     .navbar-default {
          margin-left: 150px;
     }
     .navbar-default i {
          margin-left: 30px;
     }
}